<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>island_bonus_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0.0,0.5}</string>
			<key>spriteSize</key>
			<string>{118,124}</string>
			<key>spriteSourceSize</key>
			<string>{118,125}</string>
			<key>textureRect</key>
			<string>{{515,1},{118,124}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>island_bonus_locked_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0.0,0.5}</string>
			<key>spriteSize</key>
			<string>{118,124}</string>
			<key>spriteSourceSize</key>
			<string>{118,125}</string>
			<key>textureRect</key>
			<string>{{1,122},{118,124}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>island_chaos_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0.0,1.0}</string>
			<key>spriteSize</key>
			<string>{118,120}</string>
			<key>spriteSourceSize</key>
			<string>{118,122}</string>
			<key>textureRect</key>
			<string>{{539,243},{118,120}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>island_chaos_locked_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0.0,1.0}</string>
			<key>spriteSize</key>
			<string>{118,120}</string>
			<key>spriteSourceSize</key>
			<string>{118,122}</string>
			<key>textureRect</key>
			<string>{{1,364},{118,120}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>island_crystal_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0.0,-3.0}</string>
			<key>spriteSize</key>
			<string>{118,116}</string>
			<key>spriteSourceSize</key>
			<string>{118,122}</string>
			<key>textureRect</key>
			<string>{{525,484},{118,116}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>island_crystal_locked_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0.0,-3.0}</string>
			<key>spriteSize</key>
			<string>{118,116}</string>
			<key>spriteSourceSize</key>
			<string>{118,122}</string>
			<key>textureRect</key>
			<string>{{1,603},{118,116}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>island_death_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0.0,11.5}</string>
			<key>spriteSize</key>
			<string>{118,137}</string>
			<key>spriteSourceSize</key>
			<string>{118,160}</string>
			<key>textureRect</key>
			<string>{{123,364},{118,137}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>island_death_locked_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0.0,11.5}</string>
			<key>spriteSize</key>
			<string>{118,137}</string>
			<key>spriteSourceSize</key>
			<string>{118,160}</string>
			<key>textureRect</key>
			<string>{{262,364},{118,137}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>island_demon_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0.0,2.0}</string>
			<key>spriteSize</key>
			<string>{118,125}</string>
			<key>spriteSourceSize</key>
			<string>{118,129}</string>
			<key>textureRect</key>
			<string>{{1,484},{118,125}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>island_demon_locked_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0.0,2.0}</string>
			<key>spriteSize</key>
			<string>{118,125}</string>
			<key>spriteSourceSize</key>
			<string>{118,129}</string>
			<key>textureRect</key>
			<string>{{128,484},{118,125}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>island_doom_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0.0,4.0}</string>
			<key>spriteSize</key>
			<string>{118,133}</string>
			<key>spriteSourceSize</key>
			<string>{118,141}</string>
			<key>textureRect</key>
			<string>{{255,484},{118,133}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>island_doom_locked_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0.0,4.0}</string>
			<key>spriteSize</key>
			<string>{118,133}</string>
			<key>spriteSourceSize</key>
			<string>{118,141}</string>
			<key>textureRect</key>
			<string>{{390,484},{118,133}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>island_fire_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0.0,0.0}</string>
			<key>spriteSize</key>
			<string>{119,121}</string>
			<key>spriteSourceSize</key>
			<string>{119,121}</string>
			<key>textureRect</key>
			<string>{{269,1},{119,121}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>island_fire_locked_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0.0,0.0}</string>
			<key>spriteSize</key>
			<string>{119,121}</string>
			<key>spriteSourceSize</key>
			<string>{119,121}</string>
			<key>textureRect</key>
			<string>{{392,1},{119,121}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>island_ice_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0.0,0.0}</string>
			<key>spriteSize</key>
			<string>{119,113}</string>
			<key>spriteSourceSize</key>
			<string>{119,113}</string>
			<key>textureRect</key>
			<string>{{122,603},{119,113}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>island_ice_locked_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0.0,0.0}</string>
			<key>spriteSize</key>
			<string>{119,113}</string>
			<key>spriteSourceSize</key>
			<string>{119,113}</string>
			<key>textureRect</key>
			<string>{{242,603},{119,113}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>island_lava_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0.0,0.5}</string>
			<key>spriteSize</key>
			<string>{120,132}</string>
			<key>spriteSourceSize</key>
			<string>{120,133}</string>
			<key>textureRect</key>
			<string>{{1,1},{120,132}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>island_lava_locked_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0.0,0.5}</string>
			<key>spriteSize</key>
			<string>{120,132}</string>
			<key>spriteSourceSize</key>
			<string>{120,133}</string>
			<key>textureRect</key>
			<string>{{135,1},{120,132}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>island_magic_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0.0,1.0}</string>
			<key>spriteSize</key>
			<string>{118,126}</string>
			<key>spriteSourceSize</key>
			<string>{118,128}</string>
			<key>textureRect</key>
			<string>{{127,122},{118,126}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>island_magic_locked_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0.0,1.0}</string>
			<key>spriteSize</key>
			<string>{118,126}</string>
			<key>spriteSourceSize</key>
			<string>{118,128}</string>
			<key>textureRect</key>
			<string>{{255,122},{118,126}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>island_monster_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0.0,1.5}</string>
			<key>spriteSize</key>
			<string>{118,129}</string>
			<key>spriteSourceSize</key>
			<string>{118,132}</string>
			<key>textureRect</key>
			<string>{{383,122},{118,129}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>island_monster_locked_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0.0,1.5}</string>
			<key>spriteSize</key>
			<string>{118,129}</string>
			<key>spriteSourceSize</key>
			<string>{118,132}</string>
			<key>textureRect</key>
			<string>{{514,122},{118,129}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>island_poison_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0.0,4.0}</string>
			<key>spriteSize</key>
			<string>{118,123}</string>
			<key>spriteSourceSize</key>
			<string>{118,131}</string>
			<key>textureRect</key>
			<string>{{401,364},{118,123}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>island_poison_locked_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0.0,4.0}</string>
			<key>spriteSize</key>
			<string>{118,123}</string>
			<key>spriteSourceSize</key>
			<string>{118,131}</string>
			<key>textureRect</key>
			<string>{{526,364},{118,123}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>island_shadow_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0.0,-4.5}</string>
			<key>spriteSize</key>
			<string>{118,108}</string>
			<key>spriteSourceSize</key>
			<string>{118,117}</string>
			<key>textureRect</key>
			<string>{{364,603},{118,108}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>island_shadow_locked_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0.0,-4.5}</string>
			<key>spriteSize</key>
			<string>{118,108}</string>
			<key>spriteSourceSize</key>
			<string>{118,117}</string>
			<key>textureRect</key>
			<string>{{484,603},{118,108}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>island_spike_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0.0,3.0}</string>
			<key>spriteSize</key>
			<string>{118,137}</string>
			<key>spriteSourceSize</key>
			<string>{118,143}</string>
			<key>textureRect</key>
			<string>{{1,243},{118,137}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>island_spike_locked_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0.0,3.0}</string>
			<key>spriteSize</key>
			<string>{118,137}</string>
			<key>spriteSourceSize</key>
			<string>{118,143}</string>
			<key>textureRect</key>
			<string>{{140,243},{118,137}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>island_time_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0.0,4.5}</string>
			<key>spriteSize</key>
			<string>{118,128}</string>
			<key>spriteSourceSize</key>
			<string>{118,137}</string>
			<key>textureRect</key>
			<string>{{279,243},{118,128}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>island_time_locked_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0.0,4.5}</string>
			<key>spriteSize</key>
			<string>{118,128}</string>
			<key>spriteSourceSize</key>
			<string>{118,137}</string>
			<key>textureRect</key>
			<string>{{409,243},{118,128}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>theLostGauntletsLabel_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{2.5,-2.5}</string>
			<key>spriteSize</key>
			<string>{626,65}</string>
			<key>spriteSourceSize</key>
			<string>{631,70}</string>
			<key>textureRect</key>
			<string>{{1,721},{626,65}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>3</integer>
		<key>pixelFormat</key>
		<string>RGBA4444</string>
		<key>premultiplyAlpha</key>
		<false/>
		<key>realTextureFileName</key>
		<string>GauntletSheet-hd.png</string>
		<key>size</key>
		<string>{726,787}</string>
		<key>smartupdate</key>
		<string>$none</string>
		<key>textureFileName</key>
		<string>GauntletSheet-hd.png</string>
	</dict>
</dict>
</plist>
