<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>GJ_challengeBtn_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{2.5,-2.5}</string>
			<key>spriteSize</key>
			<string>{100,100}</string>
			<key>spriteSourceSize</key>
			<string>{104,104}</string>
			<key>textureRect</key>
			<string>{{0,0},{100,100}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>GJ_createBtn_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{2.5,-2.5}</string>
			<key>spriteSize</key>
			<string>{100,100}</string>
			<key>spriteSourceSize</key>
			<string>{104,104}</string>
			<key>textureRect</key>
			<string>{{101,0},{100,100}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>GJ_dailyBtn_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{2.5,-2.5}</string>
			<key>spriteSize</key>
			<string>{100,100}</string>
			<key>spriteSourceSize</key>
			<string>{104,104}</string>
			<key>textureRect</key>
			<string>{{202,0},{100,100}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>GJ_fameBtn_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{2.5,-2.5}</string>
			<key>spriteSize</key>
			<string>{100,100}</string>
			<key>spriteSourceSize</key>
			<string>{104,104}</string>
			<key>textureRect</key>
			<string>{{302,0},{100,100}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>GJ_featuredBtn_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{2.5,-2.5}</string>
			<key>spriteSize</key>
			<string>{100,100}</string>
			<key>spriteSourceSize</key>
			<string>{104,104}</string>
			<key>textureRect</key>
			<string>{{402,0},{100,100}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>GJ_gauntletsBtn_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{2.5,-2.5}</string>
			<key>spriteSize</key>
			<string>{100,100}</string>
			<key>spriteSourceSize</key>
			<string>{104,104}</string>
			<key>textureRect</key>
			<string>{{0,101},{100,100}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>GJ_highscoreBtn_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{2.5,-2.5}</string>
			<key>spriteSize</key>
			<string>{100,100}</string>
			<key>spriteSourceSize</key>
			<string>{104,104}</string>
			<key>textureRect</key>
			<string>{{101,101},{100,100}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>GJ_mapPacksBtn_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{2.5,-2.5}</string>
			<key>spriteSize</key>
			<string>{100,100}</string>
			<key>spriteSourceSize</key>
			<string>{104,104}</string>
			<key>textureRect</key>
			<string>{{202,101},{100,100}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>GJ_savedBtn_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{2.5,-2.5}</string>
			<key>spriteSize</key>
			<string>{100,100}</string>
			<key>spriteSourceSize</key>
			<string>{104,104}</string>
			<key>textureRect</key>
			<string>{{302,101},{100,100}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>GJ_searchBtn_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{2.5,-2.5}</string>
			<key>spriteSize</key>
			<string>{100,100}</string>
			<key>spriteSourceSize</key>
			<string>{104,104}</string>
			<key>textureRect</key>
			<string>{{402,101},{100,100}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>GJ_watchReplay_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{1.25,-1.25}</string>
			<key>spriteSize</key>
			<string>{130,88}</string>
			<key>spriteSourceSize</key>
			<string>{133,91}</string>
			<key>textureRect</key>
			<string>{{101,202},{130,88}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>GJ_weeklyBtn_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{2.5,-2.5}</string>
			<key>spriteSize</key>
			<string>{99,100}</string>
			<key>spriteSourceSize</key>
			<string>{104,104}</string>
			<key>textureRect</key>
			<string>{{0,202},{99,100}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>boost_01_shine_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0.0,0.0}</string>
			<key>spriteSize</key>
			<string>{32,41}</string>
			<key>spriteSourceSize</key>
			<string>{32,41}</string>
			<key>textureRect</key>
			<string>{{429,370},{32,41}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>boost_02_shine_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0.0,0.0}</string>
			<key>spriteSize</key>
			<string>{30,54}</string>
			<key>spriteSourceSize</key>
			<string>{30,54}</string>
			<key>textureRect</key>
			<string>{{425,418},{30,54}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>boost_03_shine_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0.0,0.0}</string>
			<key>spriteSize</key>
			<string>{48,54}</string>
			<key>spriteSourceSize</key>
			<string>{48,54}</string>
			<key>textureRect</key>
			<string>{{388,302},{48,54}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>boost_04_shine_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0.0,0.0}</string>
			<key>spriteSize</key>
			<string>{62,54}</string>
			<key>spriteSourceSize</key>
			<string>{62,54}</string>
			<key>textureRect</key>
			<string>{{260,302},{62,54}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>boost_05_shine_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0.25,0.0}</string>
			<key>spriteSize</key>
			<string>{64,52}</string>
			<key>spriteSourceSize</key>
			<string>{64,52}</string>
			<key>textureRect</key>
			<string>{{324,302},{64,52}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>playerDash2_boom2_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-1.5,0.75}</string>
			<key>spriteSize</key>
			<string>{44,44}</string>
			<key>spriteSourceSize</key>
			<string>{70,72}</string>
			<key>textureRect</key>
			<string>{{444,302},{44,44}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>playerDash2_boom2_002.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-1.0,2.0}</string>
			<key>spriteSize</key>
			<string>{58,54}</string>
			<key>spriteSourceSize</key>
			<string>{70,72}</string>
			<key>textureRect</key>
			<string>{{444,202},{58,54}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>playerDash2_boom2_003.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-0.75,2.75}</string>
			<key>spriteSize</key>
			<string>{62,60}</string>
			<key>spriteSourceSize</key>
			<string>{70,72}</string>
			<key>textureRect</key>
			<string>{{198,302},{62,60}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>playerDash2_boom2_004.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-0.5,2.0}</string>
			<key>spriteSize</key>
			<string>{63,63}</string>
			<key>spriteSourceSize</key>
			<string>{70,72}</string>
			<key>textureRect</key>
			<string>{{134,302},{63,63}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>playerDash2_boom2_005.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-1.0,2.0}</string>
			<key>spriteSize</key>
			<string>{64,64}</string>
			<key>spriteSourceSize</key>
			<string>{70,72}</string>
			<key>textureRect</key>
			<string>{{68,302},{64,64}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>playerDash2_boom2_006.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-1.0,1.75}</string>
			<key>spriteSize</key>
			<string>{67,67}</string>
			<key>spriteSourceSize</key>
			<string>{70,72}</string>
			<key>textureRect</key>
			<string>{{0,302},{67,67}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>playerDash2_boom2_007.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-0.75,1.75}</string>
			<key>spriteSize</key>
			<string>{69,68}</string>
			<key>spriteSourceSize</key>
			<string>{70,72}</string>
			<key>textureRect</key>
			<string>{{232,202},{69,68}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>playerDash2_boom2_008.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-0.25,1.75}</string>
			<key>spriteSize</key>
			<string>{70,68}</string>
			<key>spriteSourceSize</key>
			<string>{70,72}</string>
			<key>textureRect</key>
			<string>{{302,202},{70,68}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>playerDash2_boom2_009.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-0.75,1.75}</string>
			<key>spriteSize</key>
			<string>{69,68}</string>
			<key>spriteSourceSize</key>
			<string>{70,72}</string>
			<key>textureRect</key>
			<string>{{374,202},{69,68}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>portal_01_shine_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-5.25,0.0}</string>
			<key>spriteSize</key>
			<string>{26,72}</string>
			<key>spriteSourceSize</key>
			<string>{37,72}</string>
			<key>textureRect</key>
			<string>{{176,458},{26,72}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>portal_02_shine_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-5.25,0.0}</string>
			<key>spriteSize</key>
			<string>{26,72}</string>
			<key>spriteSourceSize</key>
			<string>{37,72}</string>
			<key>textureRect</key>
			<string>{{249,458},{26,72}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>portal_03_shine_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-1.5,0.0}</string>
			<key>spriteSize</key>
			<string>{40,82}</string>
			<key>spriteSourceSize</key>
			<string>{42,82}</string>
			<key>textureRect</key>
			<string>{{178,370},{40,82}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>portal_04_shine_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-1.5,0.0}</string>
			<key>spriteSize</key>
			<string>{40,82}</string>
			<key>spriteSourceSize</key>
			<string>{42,82}</string>
			<key>textureRect</key>
			<string>{{262,370},{40,82}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>portal_05_shine_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-1.0,-0.25}</string>
			<key>spriteSize</key>
			<string>{47,88}</string>
			<key>spriteSourceSize</key>
			<string>{49,88}</string>
			<key>textureRect</key>
			<string>{{0,370},{47,88}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>portal_06_shine_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-1.0,-0.25}</string>
			<key>spriteSize</key>
			<string>{47,88}</string>
			<key>spriteSourceSize</key>
			<string>{49,88}</string>
			<key>textureRect</key>
			<string>{{90,370},{47,88}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>portal_07_shine_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-1.5,0.0}</string>
			<key>spriteSize</key>
			<string>{40,82}</string>
			<key>spriteSourceSize</key>
			<string>{42,82}</string>
			<key>textureRect</key>
			<string>{{346,370},{40,82}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>portal_08_shine_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-4.75,0.0}</string>
			<key>spriteSize</key>
			<string>{35,86}</string>
			<key>spriteSourceSize</key>
			<string>{44,86}</string>
			<key>textureRect</key>
			<string>{{251,418},{35,86}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>portal_09_shine_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-4.75,0.0}</string>
			<key>spriteSize</key>
			<string>{35,86}</string>
			<key>spriteSourceSize</key>
			<string>{44,86}</string>
			<key>textureRect</key>
			<string>{{338,418},{35,86}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>portal_10_shine_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-1.5,0.0}</string>
			<key>spriteSize</key>
			<string>{40,82}</string>
			<key>spriteSourceSize</key>
			<string>{42,82}</string>
			<key>textureRect</key>
			<string>{{0,418},{40,82}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>portal_11_shine_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0.0,0.0}</string>
			<key>spriteSize</key>
			<string>{31,87}</string>
			<key>spriteSourceSize</key>
			<string>{31,87}</string>
			<key>textureRect</key>
			<string>{{0,458},{31,87}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>portal_12_shine_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0.0,0.0}</string>
			<key>spriteSize</key>
			<string>{31,87}</string>
			<key>spriteSourceSize</key>
			<string>{31,87}</string>
			<key>textureRect</key>
			<string>{{88,458},{31,87}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>portal_13_shine_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-1.5,0.0}</string>
			<key>spriteSize</key>
			<string>{40,82}</string>
			<key>spriteSourceSize</key>
			<string>{42,82}</string>
			<key>textureRect</key>
			<string>{{84,418},{40,82}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>portal_14_shine_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-1.5,0.0}</string>
			<key>spriteSize</key>
			<string>{40,82}</string>
			<key>spriteSourceSize</key>
			<string>{42,82}</string>
			<key>textureRect</key>
			<string>{{168,418},{40,82}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>portal_15_shine_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-8.0,0.0}</string>
			<key>spriteSize</key>
			<string>{24,88}</string>
			<key>spriteSourceSize</key>
			<string>{40,88}</string>
			<key>textureRect</key>
			<string>{{322,458},{24,88}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>portal_16_shine_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-8.0,0.0}</string>
			<key>spriteSize</key>
			<string>{24,88}</string>
			<key>spriteSourceSize</key>
			<string>{40,88}</string>
			<key>textureRect</key>
			<string>{{410,458},{24,88}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>portal_17_shine_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-8.0,0.0}</string>
			<key>spriteSize</key>
			<string>{24,88}</string>
			<key>spriteSourceSize</key>
			<string>{40,88}</string>
			<key>textureRect</key>
			<string>{{0,490},{24,88}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>spiderDash_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{3.0,0.25}</string>
			<key>spriteSize</key>
			<string>{212,18}</string>
			<key>spriteSourceSize</key>
			<string>{221,21}</string>
			<key>textureRect</key>
			<string>{{232,270},{212,18}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>spiderDash_002.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-3.75,0.25}</string>
			<key>spriteSize</key>
			<string>{197,20}</string>
			<key>spriteSourceSize</key>
			<string>{221,21}</string>
			<key>textureRect</key>
			<string>{{90,490},{197,20}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>spiderDash_003.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-30.25,0.5}</string>
			<key>spriteSize</key>
			<string>{150,18}</string>
			<key>spriteSourceSize</key>
			<string>{221,21}</string>
			<key>textureRect</key>
			<string>{{288,490},{150,18}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>spiderDash_004.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-46.75,0.75}</string>
			<key>spriteSize</key>
			<string>{119,18}</string>
			<key>spriteSourceSize</key>
			<string>{221,21}</string>
			<key>textureRect</key>
			<string>{{0,516},{119,18}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>spiderDash_005.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-54.5,0.75}</string>
			<key>spriteSize</key>
			<string>{104,18}</string>
			<key>spriteSourceSize</key>
			<string>{221,21}</string>
			<key>textureRect</key>
			<string>{{120,516},{104,18}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>spiderDash_006.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-71.5,1.25}</string>
			<key>spriteSize</key>
			<string>{70,17}</string>
			<key>spriteSourceSize</key>
			<string>{221,21}</string>
			<key>textureRect</key>
			<string>{{226,516},{70,17}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>spiderDash_007.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-78.75,1.0}</string>
			<key>spriteSize</key>
			<string>{58,17}</string>
			<key>spriteSourceSize</key>
			<string>{221,21}</string>
			<key>textureRect</key>
			<string>{{446,270},{58,17}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>spiderDash_008.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-98.0,1.75}</string>
			<key>spriteSize</key>
			<string>{22,15}</string>
			<key>spriteSourceSize</key>
			<string>{221,21}</string>
			<key>textureRect</key>
			<string>{{471,370},{22,15}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>3</integer>
		<key>pixelFormat</key>
		<string>RGBA4444</string>
		<key>premultiplyAlpha</key>
		<false/>
		<key>realTextureFileName</key>
		<string>GJ_GameSheet04.png</string>
		<key>size</key>
		<string>{505,534}</string>
		<key>smartupdate</key>
		<string>$none</string>
		<key>textureFileName</key>
		<string>GJ_GameSheet04.png</string>
	</dict>
</dict>
</plist>
