<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>chest03_small_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,-1}</string>
			<key>spriteSize</key>
			<string>{122,102}</string>
			<key>spriteSourceSize</key>
			<string>{122,104}</string>
			<key>textureRect</key>
			<string>{{2914,2},{122,102}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>chest_01_01_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{397,321}</string>
			<key>spriteSourceSize</key>
			<string>{397,321}</string>
			<key>textureRect</key>
			<string>{{2428,1676},{397,321}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>chest_01_02_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{385,309}</string>
			<key>spriteSourceSize</key>
			<string>{385,309}</string>
			<key>textureRect</key>
			<string>{{391,2068},{385,309}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>chest_01_03_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,3}</string>
			<key>spriteSize</key>
			<string>{385,316}</string>
			<key>spriteSourceSize</key>
			<string>{385,322}</string>
			<key>textureRect</key>
			<string>{{2,2068},{385,316}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>chest_01_03_back_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,14}</string>
			<key>spriteSize</key>
			<string>{303,28}</string>
			<key>spriteSourceSize</key>
			<string>{303,56}</string>
			<key>textureRect</key>
			<string>{{1860,2028},{303,28}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>chest_01_03_glow_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{1,58}</string>
			<key>spriteSize</key>
			<string>{652,134}</string>
			<key>spriteSourceSize</key>
			<string>{654,250}</string>
			<key>textureRect</key>
			<string>{{2393,2792},{652,134}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>chest_01_04_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,-71}</string>
			<key>spriteSize</key>
			<string>{385,164}</string>
			<key>spriteSourceSize</key>
			<string>{385,306}</string>
			<key>textureRect</key>
			<string>{{822,2792},{385,164}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>chest_01_04_back_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,66}</string>
			<key>spriteSize</key>
			<string>{324,196}</string>
			<key>spriteSourceSize</key>
			<string>{324,328}</string>
			<key>textureRect</key>
			<string>{{1836,2388},{324,196}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>chest_01_04_glow_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,66}</string>
			<key>spriteSize</key>
			<string>{295,150}</string>
			<key>spriteSourceSize</key>
			<string>{295,282}</string>
			<key>textureRect</key>
			<string>{{1483,2792},{295,150}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>chest_02_01_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{498,402}</string>
			<key>spriteSourceSize</key>
			<string>{498,402}</string>
			<key>textureRect</key>
			<string>{{1926,2},{498,402}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>chest_02_02_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,1}</string>
			<key>spriteSize</key>
			<string>{482,386}</string>
			<key>spriteSourceSize</key>
			<string>{482,388}</string>
			<key>textureRect</key>
			<string>{{1926,806},{482,386}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>chest_02_03_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,4}</string>
			<key>spriteSize</key>
			<string>{482,394}</string>
			<key>spriteSourceSize</key>
			<string>{482,402}</string>
			<key>textureRect</key>
			<string>{{2428,2},{482,394}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>chest_02_03_back_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,18}</string>
			<key>spriteSize</key>
			<string>{378,62}</string>
			<key>spriteSourceSize</key>
			<string>{378,98}</string>
			<key>textureRect</key>
			<string>{{2,3100},{378,62}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>chest_02_03_glow_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{1,73}</string>
			<key>spriteSize</key>
			<string>{816,168}</string>
			<key>spriteSourceSize</key>
			<string>{818,314}</string>
			<key>textureRect</key>
			<string>{{914,2600},{816,168}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>chest_02_04_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,-88}</string>
			<key>spriteSize</key>
			<string>{482,206}</string>
			<key>spriteSourceSize</key>
			<string>{482,382}</string>
			<key>textureRect</key>
			<string>{{378,2388},{482,206}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>chest_02_04_back_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,83}</string>
			<key>spriteSize</key>
			<string>{404,244}</string>
			<key>spriteSourceSize</key>
			<string>{404,410}</string>
			<key>textureRect</key>
			<string>{{1716,2068},{404,244}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>chest_02_04_glow_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,82}</string>
			<key>spriteSize</key>
			<string>{368,188}</string>
			<key>spriteSourceSize</key>
			<string>{368,352}</string>
			<key>textureRect</key>
			<string>{{2164,2388},{368,188}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>chest_03_02_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,1}</string>
			<key>spriteSize</key>
			<string>{482,386}</string>
			<key>spriteSourceSize</key>
			<string>{482,388}</string>
			<key>textureRect</key>
			<string>{{2412,806},{482,386}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>chest_03_03_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,4}</string>
			<key>spriteSize</key>
			<string>{482,394}</string>
			<key>spriteSourceSize</key>
			<string>{482,402}</string>
			<key>textureRect</key>
			<string>{{1926,408},{482,394}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>chest_03_03_back_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,18}</string>
			<key>spriteSize</key>
			<string>{378,62}</string>
			<key>spriteSourceSize</key>
			<string>{378,98}</string>
			<key>textureRect</key>
			<string>{{384,3100},{378,62}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>chest_03_03_glow_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{1,73}</string>
			<key>spriteSize</key>
			<string>{816,168}</string>
			<key>spriteSourceSize</key>
			<string>{818,314}</string>
			<key>textureRect</key>
			<string>{{1734,2600},{816,168}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>chest_03_04_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,-88}</string>
			<key>spriteSize</key>
			<string>{482,206}</string>
			<key>spriteSourceSize</key>
			<string>{482,382}</string>
			<key>textureRect</key>
			<string>{{864,2388},{482,206}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>chest_03_04_back_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,83}</string>
			<key>spriteSize</key>
			<string>{404,244}</string>
			<key>spriteSourceSize</key>
			<string>{404,410}</string>
			<key>textureRect</key>
			<string>{{2124,2068},{404,244}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>chest_03_04_glow_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,82}</string>
			<key>spriteSize</key>
			<string>{368,188}</string>
			<key>spriteSourceSize</key>
			<string>{368,352}</string>
			<key>textureRect</key>
			<string>{{2536,2388},{368,188}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>chest_04_02_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,1}</string>
			<key>spriteSize</key>
			<string>{482,386}</string>
			<key>spriteSourceSize</key>
			<string>{482,388}</string>
			<key>textureRect</key>
			<string>{{1860,1286},{482,386}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>chest_04_03_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,4}</string>
			<key>spriteSize</key>
			<string>{482,394}</string>
			<key>spriteSourceSize</key>
			<string>{482,402}</string>
			<key>textureRect</key>
			<string>{{2412,408},{482,394}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>chest_04_03_back_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,18}</string>
			<key>spriteSize</key>
			<string>{378,62}</string>
			<key>spriteSourceSize</key>
			<string>{378,98}</string>
			<key>textureRect</key>
			<string>{{766,3100},{378,62}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>chest_04_03_glow_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{1,73}</string>
			<key>spriteSize</key>
			<string>{816,168}</string>
			<key>spriteSourceSize</key>
			<string>{818,314}</string>
			<key>textureRect</key>
			<string>{{2,2792},{816,168}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>chest_04_04_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,-88}</string>
			<key>spriteSize</key>
			<string>{482,206}</string>
			<key>spriteSourceSize</key>
			<string>{482,382}</string>
			<key>textureRect</key>
			<string>{{1350,2388},{482,206}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>chest_04_04_back_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,83}</string>
			<key>spriteSize</key>
			<string>{404,244}</string>
			<key>spriteSourceSize</key>
			<string>{404,410}</string>
			<key>textureRect</key>
			<string>{{2532,2068},{404,244}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>chest_04_04_glow_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,82}</string>
			<key>spriteSize</key>
			<string>{368,188}</string>
			<key>spriteSourceSize</key>
			<string>{368,352}</string>
			<key>textureRect</key>
			<string>{{2,2600},{368,188}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>chest_04_price_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{218,66}</string>
			<key>spriteSourceSize</key>
			<string>{218,66}</string>
			<key>textureRect</key>
			<string>{{2680,1196},{218,66}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>chest_glow_bg_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-265,-35}</string>
			<key>spriteSize</key>
			<string>{204,94}</string>
			<key>spriteSourceSize</key>
			<string>{734,164}</string>
			<key>textureRect</key>
			<string>{{2722,2964},{204,94}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>chest_shadow_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{478,72}</string>
			<key>spriteSourceSize</key>
			<string>{478,72}</string>
			<key>textureRect</key>
			<string>{{2198,1196},{478,72}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>getOrbsLabel_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,-7}</string>
			<key>spriteSize</key>
			<string>{182,150}</string>
			<key>spriteSourceSize</key>
			<string>{182,164}</string>
			<key>textureRect</key>
			<string>{{1782,2792},{182,150}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>gj_videoRewardBtn_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-1,0}</string>
			<key>spriteSize</key>
			<string>{378,290}</string>
			<key>spriteSourceSize</key>
			<string>{380,290}</string>
			<key>textureRect</key>
			<string>{{780,2068},{378,290}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>plushies_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{8,3}</string>
			<key>spriteSize</key>
			<string>{372,208}</string>
			<key>spriteSourceSize</key>
			<string>{392,218}</string>
			<key>textureRect</key>
			<string>{{2,2388},{372,208}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>shopBG_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{1920,1280}</string>
			<key>spriteSourceSize</key>
			<string>{1920,1280}</string>
			<key>textureRect</key>
			<string>{{2,2},{1920,1280}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>shopKeeper2_eye_01_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{72,72}</string>
			<key>spriteSourceSize</key>
			<string>{72,72}</string>
			<key>textureRect</key>
			<string>{{2914,108},{72,72}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>shopKeeper2_eye_02_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,-9}</string>
			<key>spriteSize</key>
			<string>{72,54}</string>
			<key>spriteSourceSize</key>
			<string>{72,72}</string>
			<key>textureRect</key>
			<string>{{2914,336},{72,54}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>shopKeeper2_eye_03_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,-19}</string>
			<key>spriteSize</key>
			<string>{72,34}</string>
			<key>spriteSourceSize</key>
			<string>{72,72}</string>
			<key>textureRect</key>
			<string>{{2898,738},{72,34}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>shopKeeper2_eye_04_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,-8}</string>
			<key>spriteSize</key>
			<string>{60,10}</string>
			<key>spriteSourceSize</key>
			<string>{60,26}</string>
			<key>textureRect</key>
			<string>{{2990,204},{60,10}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>shopKeeper2_eye_05_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{62,16}</string>
			<key>spriteSourceSize</key>
			<string>{62,16}</string>
			<key>textureRect</key>
			<string>{{2986,466},{62,16}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>shopKeeper2_hand_01_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{84,48}</string>
			<key>spriteSourceSize</key>
			<string>{84,48}</string>
			<key>textureRect</key>
			<string>{{2898,582},{84,48}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>shopKeeper2_head_01_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{268,132}</string>
			<key>spriteSourceSize</key>
			<string>{268,132}</string>
			<key>textureRect</key>
			<string>{{2,2964},{268,132}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>shopKeeper2_jaw_01_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{268,100}</string>
			<key>spriteSourceSize</key>
			<string>{268,100}</string>
			<key>textureRect</key>
			<string>{{1362,2964},{268,100}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>shopKeeper2_jaw_02_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{268,100}</string>
			<key>spriteSourceSize</key>
			<string>{268,100}</string>
			<key>textureRect</key>
			<string>{{1634,2964},{268,100}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>shopKeeper2_jaw_03_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{268,108}</string>
			<key>spriteSourceSize</key>
			<string>{268,108}</string>
			<key>textureRect</key>
			<string>{{546,2964},{268,108}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>shopKeeper2_mouth_01_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{168,168}</string>
			<key>spriteSourceSize</key>
			<string>{168,168}</string>
			<key>textureRect</key>
			<string>{{2829,1676},{168,168}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>shopKeeper2_pupil_01_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{28,28}</string>
			<key>spriteSourceSize</key>
			<string>{28,28}</string>
			<key>textureRect</key>
			<string>{{2990,108},{28,28}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>shopKeeper2_pupil_02_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,-6}</string>
			<key>spriteSize</key>
			<string>{28,16}</string>
			<key>spriteSourceSize</key>
			<string>{28,28}</string>
			<key>textureRect</key>
			<string>{{3022,140},{28,16}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>shopKeeper2_torso_01_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{210,148}</string>
			<key>spriteSourceSize</key>
			<string>{210,148}</string>
			<key>textureRect</key>
			<string>{{2829,1848},{210,148}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>shopKeeper3_eye_01_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{72,72}</string>
			<key>spriteSourceSize</key>
			<string>{72,72}</string>
			<key>textureRect</key>
			<string>{{2914,184},{72,72}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>shopKeeper3_eye_02_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,-9}</string>
			<key>spriteSize</key>
			<string>{72,54}</string>
			<key>spriteSourceSize</key>
			<string>{72,72}</string>
			<key>textureRect</key>
			<string>{{2898,408},{72,54}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>shopKeeper3_eye_03_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,-19}</string>
			<key>spriteSize</key>
			<string>{72,34}</string>
			<key>spriteSourceSize</key>
			<string>{72,72}</string>
			<key>textureRect</key>
			<string>{{2974,738},{72,34}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>shopKeeper3_eye_04_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,-8}</string>
			<key>spriteSize</key>
			<string>{60,10}</string>
			<key>spriteSourceSize</key>
			<string>{60,26}</string>
			<key>textureRect</key>
			<string>{{2990,218},{60,10}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>shopKeeper3_eye_05_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{62,16}</string>
			<key>spriteSourceSize</key>
			<string>{62,16}</string>
			<key>textureRect</key>
			<string>{{2986,486},{62,16}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>shopKeeper3_hand_01_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{84,48}</string>
			<key>spriteSourceSize</key>
			<string>{84,48}</string>
			<key>textureRect</key>
			<string>{{2898,634},{84,48}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>shopKeeper3_head_01_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,-11}</string>
			<key>spriteSize</key>
			<string>{268,156}</string>
			<key>spriteSourceSize</key>
			<string>{268,178}</string>
			<key>textureRect</key>
			<string>{{1211,2792},{268,156}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>shopKeeper3_jaw_01_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,-13}</string>
			<key>spriteSize</key>
			<string>{268,74}</string>
			<key>spriteSourceSize</key>
			<string>{268,100}</string>
			<key>textureRect</key>
			<string>{{1926,1196},{268,74}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>shopKeeper3_jaw_02_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{268,100}</string>
			<key>spriteSourceSize</key>
			<string>{268,100}</string>
			<key>textureRect</key>
			<string>{{1906,2964},{268,100}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>shopKeeper3_jaw_03_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{268,108}</string>
			<key>spriteSourceSize</key>
			<string>{268,108}</string>
			<key>textureRect</key>
			<string>{{818,2964},{268,108}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>shopKeeper3_mouth_01_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{168,168}</string>
			<key>spriteSourceSize</key>
			<string>{168,168}</string>
			<key>textureRect</key>
			<string>{{2554,2600},{168,168}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>shopKeeper3_pupil_01_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{28,28}</string>
			<key>spriteSourceSize</key>
			<string>{28,28}</string>
			<key>textureRect</key>
			<string>{{3022,108},{28,28}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>shopKeeper3_pupil_02_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,-6}</string>
			<key>spriteSize</key>
			<string>{28,16}</string>
			<key>spriteSourceSize</key>
			<string>{28,28}</string>
			<key>textureRect</key>
			<string>{{2990,184},{28,16}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>shopKeeper3_torso_01_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{209,148}</string>
			<key>spriteSourceSize</key>
			<string>{209,148}</string>
			<key>textureRect</key>
			<string>{{1968,2792},{209,148}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>shopKeeper_eye_01_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{72,72}</string>
			<key>spriteSourceSize</key>
			<string>{72,72}</string>
			<key>textureRect</key>
			<string>{{2914,260},{72,72}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>shopKeeper_eye_02_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,-9}</string>
			<key>spriteSize</key>
			<string>{72,54}</string>
			<key>spriteSourceSize</key>
			<string>{72,72}</string>
			<key>textureRect</key>
			<string>{{2974,408},{72,54}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>shopKeeper_eye_03_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,-19}</string>
			<key>spriteSize</key>
			<string>{72,34}</string>
			<key>spriteSourceSize</key>
			<string>{72,72}</string>
			<key>textureRect</key>
			<string>{{2898,806},{72,34}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>shopKeeper_eye_04_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,-8}</string>
			<key>spriteSize</key>
			<string>{60,10}</string>
			<key>spriteSourceSize</key>
			<string>{60,26}</string>
			<key>textureRect</key>
			<string>{{2990,232},{60,10}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>shopKeeper_eye_05_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{62,16}</string>
			<key>spriteSourceSize</key>
			<string>{62,16}</string>
			<key>textureRect</key>
			<string>{{2986,524},{62,16}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>shopKeeper_hand_01_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{84,48}</string>
			<key>spriteSourceSize</key>
			<string>{84,48}</string>
			<key>textureRect</key>
			<string>{{2898,686},{84,48}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>shopKeeper_head_01_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{268,132}</string>
			<key>spriteSourceSize</key>
			<string>{268,132}</string>
			<key>textureRect</key>
			<string>{{274,2964},{268,132}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>shopKeeper_jaw_01_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{268,100}</string>
			<key>spriteSourceSize</key>
			<string>{268,100}</string>
			<key>textureRect</key>
			<string>{{2178,2964},{268,100}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>shopKeeper_jaw_02_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{268,100}</string>
			<key>spriteSourceSize</key>
			<string>{268,100}</string>
			<key>textureRect</key>
			<string>{{2450,2964},{268,100}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>shopKeeper_jaw_03_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{268,108}</string>
			<key>spriteSourceSize</key>
			<string>{268,108}</string>
			<key>textureRect</key>
			<string>{{1090,2964},{268,108}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>shopKeeper_mouth_01_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{168,168}</string>
			<key>spriteSourceSize</key>
			<string>{168,168}</string>
			<key>textureRect</key>
			<string>{{2726,2600},{168,168}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>shopKeeper_pupil_01_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{28,28}</string>
			<key>spriteSourceSize</key>
			<string>{28,28}</string>
			<key>textureRect</key>
			<string>{{2990,140},{28,28}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>shopKeeper_pupil_02_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,-6}</string>
			<key>spriteSize</key>
			<string>{28,16}</string>
			<key>spriteSourceSize</key>
			<string>{28,28}</string>
			<key>textureRect</key>
			<string>{{3022,184},{28,16}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>shopKeeper_torso_01_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{208,144}</string>
			<key>spriteSourceSize</key>
			<string>{208,144}</string>
			<key>textureRect</key>
			<string>{{2181,2792},{208,144}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>shopRope2_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{4,-99}</string>
			<key>spriteSize</key>
			<string>{188,266}</string>
			<key>spriteSourceSize</key>
			<string>{196,464}</string>
			<key>textureRect</key>
			<string>{{374,2600},{188,266}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>shopRope2_2_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{5,0}</string>
			<key>spriteSize</key>
			<string>{54,84}</string>
			<key>spriteSourceSize</key>
			<string>{64,84}</string>
			<key>textureRect</key>
			<string>{{2898,466},{54,84}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>shopRope3_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{5,-99}</string>
			<key>spriteSize</key>
			<string>{170,266}</string>
			<key>spriteSourceSize</key>
			<string>{180,464}</string>
			<key>textureRect</key>
			<string>{{644,2600},{170,266}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>shopRope3_2_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{5,0}</string>
			<key>spriteSize</key>
			<string>{54,84}</string>
			<key>spriteSourceSize</key>
			<string>{64,84}</string>
			<key>textureRect</key>
			<string>{{2898,524},{54,84}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>shopSign2_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,3}</string>
			<key>spriteSize</key>
			<string>{564,348}</string>
			<key>spriteSourceSize</key>
			<string>{564,354}</string>
			<key>textureRect</key>
			<string>{{1860,1676},{564,348}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>shopSign3_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-1,-3}</string>
			<key>spriteSize</key>
			<string>{556,356}</string>
			<key>spriteSourceSize</key>
			<string>{558,362}</string>
			<key>textureRect</key>
			<string>{{2346,1286},{556,356}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>shopSign_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{3,35}</string>
			<key>spriteSize</key>
			<string>{550,280}</string>
			<key>spriteSourceSize</key>
			<string>{556,350}</string>
			<key>textureRect</key>
			<string>{{1162,2068},{550,280}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>storeDesk_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{1854,778}</string>
			<key>spriteSourceSize</key>
			<string>{1854,778}</string>
			<key>textureRect</key>
			<string>{{2,1286},{1854,778}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>3</integer>
		<key>pixelFormat</key>
		<string>RGBA4444</string>
		<key>premultiplyAlpha</key>
		<false/>
		<key>realTextureFileName</key>
		<string>GJ_ShopSheet-uhd.png</string>
		<key>size</key>
		<string>{3052,3164}</string>
		<key>smartupdate</key>
		<string>$none</string>
		<key>textureFileName</key>
		<string>GJ_ShopSheet-uhd.png</string>
	</dict>
</dict>
</plist>
