<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>chest03_small_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0.0,-0.5}</string>
			<key>spriteSize</key>
			<string>{61,51}</string>
			<key>spriteSourceSize</key>
			<string>{61,52}</string>
			<key>textureRect</key>
			<string>{{1457,1},{61,51}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>chest_01_01_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0.0,0.0}</string>
			<key>spriteSize</key>
			<string>{198,160}</string>
			<key>spriteSourceSize</key>
			<string>{198,160}</string>
			<key>textureRect</key>
			<string>{{1214,838},{198,160}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>chest_01_02_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0.0,0.0}</string>
			<key>spriteSize</key>
			<string>{192,154}</string>
			<key>spriteSourceSize</key>
			<string>{192,154}</string>
			<key>textureRect</key>
			<string>{{196,1034},{192,154}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>chest_01_03_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0.0,1.5}</string>
			<key>spriteSize</key>
			<string>{192,158}</string>
			<key>spriteSourceSize</key>
			<string>{192,161}</string>
			<key>textureRect</key>
			<string>{{1,1034},{192,158}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>chest_01_03_back_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0.0,7.0}</string>
			<key>spriteSize</key>
			<string>{152,14}</string>
			<key>spriteSourceSize</key>
			<string>{152,28}</string>
			<key>textureRect</key>
			<string>{{930,1014},{152,14}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>chest_01_03_glow_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0.5,29.0}</string>
			<key>spriteSize</key>
			<string>{326,67}</string>
			<key>spriteSourceSize</key>
			<string>{327,125}</string>
			<key>textureRect</key>
			<string>{{1196,1396},{326,67}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>chest_01_04_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0.0,-35.5}</string>
			<key>spriteSize</key>
			<string>{192,82}</string>
			<key>spriteSourceSize</key>
			<string>{192,153}</string>
			<key>textureRect</key>
			<string>{{411,1396},{192,82}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>chest_01_04_back_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0.0,33.0}</string>
			<key>spriteSize</key>
			<string>{162,98}</string>
			<key>spriteSourceSize</key>
			<string>{162,164}</string>
			<key>textureRect</key>
			<string>{{918,1194},{162,98}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>chest_01_04_glow_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0.0,33.0}</string>
			<key>spriteSize</key>
			<string>{148,75}</string>
			<key>spriteSourceSize</key>
			<string>{148,141}</string>
			<key>textureRect</key>
			<string>{{742,1396},{148,75}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>chest_02_01_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0.0,0.0}</string>
			<key>spriteSize</key>
			<string>{249,201}</string>
			<key>spriteSourceSize</key>
			<string>{249,201}</string>
			<key>textureRect</key>
			<string>{{963,1},{249,201}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>chest_02_02_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0.0,0.5}</string>
			<key>spriteSize</key>
			<string>{241,193}</string>
			<key>spriteSourceSize</key>
			<string>{241,194}</string>
			<key>textureRect</key>
			<string>{{963,403},{241,193}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>chest_02_03_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0.0,2.0}</string>
			<key>spriteSize</key>
			<string>{241,197}</string>
			<key>spriteSourceSize</key>
			<string>{241,201}</string>
			<key>textureRect</key>
			<string>{{1214,1},{241,197}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>chest_02_03_back_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0.0,9.0}</string>
			<key>spriteSize</key>
			<string>{189,31}</string>
			<key>spriteSourceSize</key>
			<string>{189,49}</string>
			<key>textureRect</key>
			<string>{{1,1550},{189,31}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>chest_02_03_glow_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0.5,36.5}</string>
			<key>spriteSize</key>
			<string>{408,84}</string>
			<key>spriteSourceSize</key>
			<string>{409,157}</string>
			<key>textureRect</key>
			<string>{{457,1300},{408,84}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>chest_02_04_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0.0,-44.0}</string>
			<key>spriteSize</key>
			<string>{241,103}</string>
			<key>spriteSourceSize</key>
			<string>{241,191}</string>
			<key>textureRect</key>
			<string>{{189,1194},{241,103}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>chest_02_04_back_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0.0,41.5}</string>
			<key>spriteSize</key>
			<string>{202,122}</string>
			<key>spriteSourceSize</key>
			<string>{202,205}</string>
			<key>textureRect</key>
			<string>{{858,1034},{202,122}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>chest_02_04_glow_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0.0,41.0}</string>
			<key>spriteSize</key>
			<string>{184,94}</string>
			<key>spriteSourceSize</key>
			<string>{184,176}</string>
			<key>textureRect</key>
			<string>{{1082,1194},{184,94}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>chest_03_02_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0.0,0.5}</string>
			<key>spriteSize</key>
			<string>{241,193}</string>
			<key>spriteSourceSize</key>
			<string>{241,194}</string>
			<key>textureRect</key>
			<string>{{1206,403},{241,193}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>chest_03_03_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0.0,2.0}</string>
			<key>spriteSize</key>
			<string>{241,197}</string>
			<key>spriteSourceSize</key>
			<string>{241,201}</string>
			<key>textureRect</key>
			<string>{{963,204},{241,197}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>chest_03_03_back_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0.0,9.0}</string>
			<key>spriteSize</key>
			<string>{189,31}</string>
			<key>spriteSourceSize</key>
			<string>{189,49}</string>
			<key>textureRect</key>
			<string>{{192,1550},{189,31}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>chest_03_03_glow_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0.5,36.5}</string>
			<key>spriteSize</key>
			<string>{408,84}</string>
			<key>spriteSourceSize</key>
			<string>{409,157}</string>
			<key>textureRect</key>
			<string>{{867,1300},{408,84}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>chest_03_04_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0.0,-44.0}</string>
			<key>spriteSize</key>
			<string>{241,103}</string>
			<key>spriteSourceSize</key>
			<string>{241,191}</string>
			<key>textureRect</key>
			<string>{{432,1194},{241,103}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>chest_03_04_back_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0.0,41.5}</string>
			<key>spriteSize</key>
			<string>{202,122}</string>
			<key>spriteSourceSize</key>
			<string>{202,205}</string>
			<key>textureRect</key>
			<string>{{1062,1034},{202,122}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>chest_03_04_glow_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0.0,41.0}</string>
			<key>spriteSize</key>
			<string>{184,94}</string>
			<key>spriteSourceSize</key>
			<string>{184,176}</string>
			<key>textureRect</key>
			<string>{{1268,1194},{184,94}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>chest_04_02_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0.0,0.5}</string>
			<key>spriteSize</key>
			<string>{241,193}</string>
			<key>spriteSourceSize</key>
			<string>{241,194}</string>
			<key>textureRect</key>
			<string>{{930,643},{241,193}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>chest_04_03_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0.0,2.0}</string>
			<key>spriteSize</key>
			<string>{241,197}</string>
			<key>spriteSourceSize</key>
			<string>{241,201}</string>
			<key>textureRect</key>
			<string>{{1206,204},{241,197}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>chest_04_03_back_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0.0,9.0}</string>
			<key>spriteSize</key>
			<string>{189,31}</string>
			<key>spriteSourceSize</key>
			<string>{189,49}</string>
			<key>textureRect</key>
			<string>{{383,1550},{189,31}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>chest_04_03_glow_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0.5,36.5}</string>
			<key>spriteSize</key>
			<string>{408,84}</string>
			<key>spriteSourceSize</key>
			<string>{409,157}</string>
			<key>textureRect</key>
			<string>{{1,1396},{408,84}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>chest_04_04_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0.0,-44.0}</string>
			<key>spriteSize</key>
			<string>{241,103}</string>
			<key>spriteSourceSize</key>
			<string>{241,191}</string>
			<key>textureRect</key>
			<string>{{675,1194},{241,103}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>chest_04_04_back_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0.0,41.5}</string>
			<key>spriteSize</key>
			<string>{202,122}</string>
			<key>spriteSourceSize</key>
			<string>{202,205}</string>
			<key>textureRect</key>
			<string>{{1266,1034},{202,122}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>chest_04_04_glow_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0.0,41.0}</string>
			<key>spriteSize</key>
			<string>{184,94}</string>
			<key>spriteSourceSize</key>
			<string>{184,176}</string>
			<key>textureRect</key>
			<string>{{1,1300},{184,94}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>chest_04_price_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0.0,0.0}</string>
			<key>spriteSize</key>
			<string>{109,33}</string>
			<key>spriteSourceSize</key>
			<string>{109,33}</string>
			<key>textureRect</key>
			<string>{{1340,598},{109,33}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>chest_glow_bg_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-132.5,-17.5}</string>
			<key>spriteSize</key>
			<string>{102,47}</string>
			<key>spriteSourceSize</key>
			<string>{367,82}</string>
			<key>textureRect</key>
			<string>{{1361,1482},{102,47}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>chest_shadow_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0.0,0.0}</string>
			<key>spriteSize</key>
			<string>{239,36}</string>
			<key>spriteSourceSize</key>
			<string>{239,36}</string>
			<key>textureRect</key>
			<string>{{1099,598},{239,36}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>getOrbsLabel_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0.0,-3.5}</string>
			<key>spriteSize</key>
			<string>{91,75}</string>
			<key>spriteSourceSize</key>
			<string>{91,82}</string>
			<key>textureRect</key>
			<string>{{891,1396},{91,75}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>gj_videoRewardBtn_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-0.5,0.0}</string>
			<key>spriteSize</key>
			<string>{189,145}</string>
			<key>spriteSourceSize</key>
			<string>{190,145}</string>
			<key>textureRect</key>
			<string>{{390,1034},{189,145}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>plushies_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{4.0,1.5}</string>
			<key>spriteSize</key>
			<string>{186,104}</string>
			<key>spriteSourceSize</key>
			<string>{196,109}</string>
			<key>textureRect</key>
			<string>{{1,1194},{186,104}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>shopBG_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0.0,0.0}</string>
			<key>spriteSize</key>
			<string>{960,640}</string>
			<key>spriteSourceSize</key>
			<string>{960,640}</string>
			<key>textureRect</key>
			<string>{{1,1},{960,640}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>shopKeeper2_eye_01_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0.0,0.0}</string>
			<key>spriteSize</key>
			<string>{36,36}</string>
			<key>spriteSourceSize</key>
			<string>{36,36}</string>
			<key>textureRect</key>
			<string>{{1457,54},{36,36}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>shopKeeper2_eye_02_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0.0,-4.5}</string>
			<key>spriteSize</key>
			<string>{36,27}</string>
			<key>spriteSourceSize</key>
			<string>{36,36}</string>
			<key>textureRect</key>
			<string>{{1457,168},{36,27}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>shopKeeper2_eye_03_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0.0,-9.5}</string>
			<key>spriteSize</key>
			<string>{36,17}</string>
			<key>spriteSourceSize</key>
			<string>{36,36}</string>
			<key>textureRect</key>
			<string>{{1449,369},{36,17}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>shopKeeper2_eye_04_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0.0,-4.0}</string>
			<key>spriteSize</key>
			<string>{30,5}</string>
			<key>spriteSourceSize</key>
			<string>{30,13}</string>
			<key>textureRect</key>
			<string>{{1495,102},{30,5}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>shopKeeper2_eye_05_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0.0,0.0}</string>
			<key>spriteSize</key>
			<string>{31,8}</string>
			<key>spriteSourceSize</key>
			<string>{31,8}</string>
			<key>textureRect</key>
			<string>{{1493,233},{31,8}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>shopKeeper2_hand_01_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0.0,0.0}</string>
			<key>spriteSize</key>
			<string>{42,24}</string>
			<key>spriteSourceSize</key>
			<string>{42,24}</string>
			<key>textureRect</key>
			<string>{{1449,291},{42,24}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>shopKeeper2_head_01_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0.0,0.0}</string>
			<key>spriteSize</key>
			<string>{134,66}</string>
			<key>spriteSourceSize</key>
			<string>{134,66}</string>
			<key>textureRect</key>
			<string>{{1,1482},{134,66}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>shopKeeper2_jaw_01_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0.0,0.0}</string>
			<key>spriteSize</key>
			<string>{134,50}</string>
			<key>spriteSourceSize</key>
			<string>{134,50}</string>
			<key>textureRect</key>
			<string>{{681,1482},{134,50}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>shopKeeper2_jaw_02_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0.0,0.0}</string>
			<key>spriteSize</key>
			<string>{134,50}</string>
			<key>spriteSourceSize</key>
			<string>{134,50}</string>
			<key>textureRect</key>
			<string>{{817,1482},{134,50}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>shopKeeper2_jaw_03_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0.0,0.0}</string>
			<key>spriteSize</key>
			<string>{134,54}</string>
			<key>spriteSourceSize</key>
			<string>{134,54}</string>
			<key>textureRect</key>
			<string>{{273,1482},{134,54}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>shopKeeper2_mouth_01_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0.0,0.0}</string>
			<key>spriteSize</key>
			<string>{84,84}</string>
			<key>spriteSourceSize</key>
			<string>{84,84}</string>
			<key>textureRect</key>
			<string>{{1414,838},{84,84}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>shopKeeper2_pupil_01_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0.0,0.0}</string>
			<key>spriteSize</key>
			<string>{14,14}</string>
			<key>spriteSourceSize</key>
			<string>{14,14}</string>
			<key>textureRect</key>
			<string>{{1495,54},{14,14}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>shopKeeper2_pupil_02_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0.0,-3.0}</string>
			<key>spriteSize</key>
			<string>{14,8}</string>
			<key>spriteSourceSize</key>
			<string>{14,14}</string>
			<key>textureRect</key>
			<string>{{1511,70},{14,8}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>shopKeeper2_torso_01_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0.0,0.0}</string>
			<key>spriteSize</key>
			<string>{105,74}</string>
			<key>spriteSourceSize</key>
			<string>{105,74}</string>
			<key>textureRect</key>
			<string>{{1414,924},{105,74}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>shopKeeper3_eye_01_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0.0,0.0}</string>
			<key>spriteSize</key>
			<string>{36,36}</string>
			<key>spriteSourceSize</key>
			<string>{36,36}</string>
			<key>textureRect</key>
			<string>{{1457,92},{36,36}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>shopKeeper3_eye_02_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0.0,-4.5}</string>
			<key>spriteSize</key>
			<string>{36,27}</string>
			<key>spriteSourceSize</key>
			<string>{36,36}</string>
			<key>textureRect</key>
			<string>{{1449,204},{36,27}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>shopKeeper3_eye_03_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0.0,-9.5}</string>
			<key>spriteSize</key>
			<string>{36,17}</string>
			<key>spriteSourceSize</key>
			<string>{36,36}</string>
			<key>textureRect</key>
			<string>{{1487,369},{36,17}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>shopKeeper3_eye_04_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0.0,-4.0}</string>
			<key>spriteSize</key>
			<string>{30,5}</string>
			<key>spriteSourceSize</key>
			<string>{30,13}</string>
			<key>textureRect</key>
			<string>{{1495,109},{30,5}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>shopKeeper3_eye_05_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0.0,0.0}</string>
			<key>spriteSize</key>
			<string>{31,8}</string>
			<key>spriteSourceSize</key>
			<string>{31,8}</string>
			<key>textureRect</key>
			<string>{{1493,243},{31,8}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>shopKeeper3_hand_01_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0.0,0.0}</string>
			<key>spriteSize</key>
			<string>{42,24}</string>
			<key>spriteSourceSize</key>
			<string>{42,24}</string>
			<key>textureRect</key>
			<string>{{1449,317},{42,24}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>shopKeeper3_head_01_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0.0,-5.5}</string>
			<key>spriteSize</key>
			<string>{134,78}</string>
			<key>spriteSourceSize</key>
			<string>{134,89}</string>
			<key>textureRect</key>
			<string>{{606,1396},{134,78}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>shopKeeper3_jaw_01_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0.0,-6.5}</string>
			<key>spriteSize</key>
			<string>{134,37}</string>
			<key>spriteSourceSize</key>
			<string>{134,50}</string>
			<key>textureRect</key>
			<string>{{963,598},{134,37}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>shopKeeper3_jaw_02_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0.0,0.0}</string>
			<key>spriteSize</key>
			<string>{134,50}</string>
			<key>spriteSourceSize</key>
			<string>{134,50}</string>
			<key>textureRect</key>
			<string>{{953,1482},{134,50}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>shopKeeper3_jaw_03_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0.0,0.0}</string>
			<key>spriteSize</key>
			<string>{134,54}</string>
			<key>spriteSourceSize</key>
			<string>{134,54}</string>
			<key>textureRect</key>
			<string>{{409,1482},{134,54}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>shopKeeper3_mouth_01_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0.0,0.0}</string>
			<key>spriteSize</key>
			<string>{84,84}</string>
			<key>spriteSourceSize</key>
			<string>{84,84}</string>
			<key>textureRect</key>
			<string>{{1277,1300},{84,84}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>shopKeeper3_pupil_01_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0.0,0.0}</string>
			<key>spriteSize</key>
			<string>{14,14}</string>
			<key>spriteSourceSize</key>
			<string>{14,14}</string>
			<key>textureRect</key>
			<string>{{1511,54},{14,14}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>shopKeeper3_pupil_02_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0.0,-3.0}</string>
			<key>spriteSize</key>
			<string>{14,8}</string>
			<key>spriteSourceSize</key>
			<string>{14,14}</string>
			<key>textureRect</key>
			<string>{{1495,92},{14,8}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>shopKeeper3_torso_01_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0.0,0.0}</string>
			<key>spriteSize</key>
			<string>{104,74}</string>
			<key>spriteSourceSize</key>
			<string>{104,74}</string>
			<key>textureRect</key>
			<string>{{984,1396},{104,74}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>shopKeeper_eye_01_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0.0,0.0}</string>
			<key>spriteSize</key>
			<string>{36,36}</string>
			<key>spriteSourceSize</key>
			<string>{36,36}</string>
			<key>textureRect</key>
			<string>{{1457,130},{36,36}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>shopKeeper_eye_02_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0.0,-4.5}</string>
			<key>spriteSize</key>
			<string>{36,27}</string>
			<key>spriteSourceSize</key>
			<string>{36,36}</string>
			<key>textureRect</key>
			<string>{{1487,204},{36,27}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>shopKeeper_eye_03_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0.0,-9.5}</string>
			<key>spriteSize</key>
			<string>{36,17}</string>
			<key>spriteSourceSize</key>
			<string>{36,36}</string>
			<key>textureRect</key>
			<string>{{1449,403},{36,17}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>shopKeeper_eye_04_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0.0,-4.0}</string>
			<key>spriteSize</key>
			<string>{30,5}</string>
			<key>spriteSourceSize</key>
			<string>{30,13}</string>
			<key>textureRect</key>
			<string>{{1495,116},{30,5}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>shopKeeper_eye_05_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0.0,0.0}</string>
			<key>spriteSize</key>
			<string>{31,8}</string>
			<key>spriteSourceSize</key>
			<string>{31,8}</string>
			<key>textureRect</key>
			<string>{{1493,262},{31,8}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>shopKeeper_hand_01_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0.0,0.0}</string>
			<key>spriteSize</key>
			<string>{42,24}</string>
			<key>spriteSourceSize</key>
			<string>{42,24}</string>
			<key>textureRect</key>
			<string>{{1449,343},{42,24}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>shopKeeper_head_01_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0.0,0.0}</string>
			<key>spriteSize</key>
			<string>{134,66}</string>
			<key>spriteSourceSize</key>
			<string>{134,66}</string>
			<key>textureRect</key>
			<string>{{137,1482},{134,66}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>shopKeeper_jaw_01_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0.0,0.0}</string>
			<key>spriteSize</key>
			<string>{134,50}</string>
			<key>spriteSourceSize</key>
			<string>{134,50}</string>
			<key>textureRect</key>
			<string>{{1089,1482},{134,50}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>shopKeeper_jaw_02_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0.0,0.0}</string>
			<key>spriteSize</key>
			<string>{134,50}</string>
			<key>spriteSourceSize</key>
			<string>{134,50}</string>
			<key>textureRect</key>
			<string>{{1225,1482},{134,50}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>shopKeeper_jaw_03_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0.0,0.0}</string>
			<key>spriteSize</key>
			<string>{134,54}</string>
			<key>spriteSourceSize</key>
			<string>{134,54}</string>
			<key>textureRect</key>
			<string>{{545,1482},{134,54}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>shopKeeper_mouth_01_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0.0,0.0}</string>
			<key>spriteSize</key>
			<string>{84,84}</string>
			<key>spriteSourceSize</key>
			<string>{84,84}</string>
			<key>textureRect</key>
			<string>{{1363,1300},{84,84}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>shopKeeper_pupil_01_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0.0,0.0}</string>
			<key>spriteSize</key>
			<string>{14,14}</string>
			<key>spriteSourceSize</key>
			<string>{14,14}</string>
			<key>textureRect</key>
			<string>{{1495,70},{14,14}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>shopKeeper_pupil_02_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0.0,-3.0}</string>
			<key>spriteSize</key>
			<string>{14,8}</string>
			<key>spriteSourceSize</key>
			<string>{14,14}</string>
			<key>textureRect</key>
			<string>{{1511,92},{14,8}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>shopKeeper_torso_01_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0.0,0.0}</string>
			<key>spriteSize</key>
			<string>{104,72}</string>
			<key>spriteSourceSize</key>
			<string>{104,72}</string>
			<key>textureRect</key>
			<string>{{1090,1396},{104,72}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>shopRope2_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{2.0,-49.5}</string>
			<key>spriteSize</key>
			<string>{94,133}</string>
			<key>spriteSourceSize</key>
			<string>{98,232}</string>
			<key>textureRect</key>
			<string>{{187,1300},{94,133}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>shopRope2_2_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{2.5,0.0}</string>
			<key>spriteSize</key>
			<string>{27,42}</string>
			<key>spriteSourceSize</key>
			<string>{32,42}</string>
			<key>textureRect</key>
			<string>{{1449,233},{27,42}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>shopRope3_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{2.5,-49.5}</string>
			<key>spriteSize</key>
			<string>{85,133}</string>
			<key>spriteSourceSize</key>
			<string>{90,232}</string>
			<key>textureRect</key>
			<string>{{322,1300},{85,133}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>shopRope3_2_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{2.5,0.0}</string>
			<key>spriteSize</key>
			<string>{27,42}</string>
			<key>spriteSourceSize</key>
			<string>{32,42}</string>
			<key>textureRect</key>
			<string>{{1449,262},{27,42}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>shopSign2_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0.0,1.5}</string>
			<key>spriteSize</key>
			<string>{282,174}</string>
			<key>spriteSourceSize</key>
			<string>{282,177}</string>
			<key>textureRect</key>
			<string>{{930,838},{282,174}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>shopSign3_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-0.5,-1.5}</string>
			<key>spriteSize</key>
			<string>{278,178}</string>
			<key>spriteSourceSize</key>
			<string>{279,181}</string>
			<key>textureRect</key>
			<string>{{1173,643},{278,178}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>shopSign_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{1.5,17.5}</string>
			<key>spriteSize</key>
			<string>{275,140}</string>
			<key>spriteSourceSize</key>
			<string>{278,175}</string>
			<key>textureRect</key>
			<string>{{581,1034},{275,140}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>storeDesk_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0.0,0.0}</string>
			<key>spriteSize</key>
			<string>{927,389}</string>
			<key>spriteSourceSize</key>
			<string>{927,389}</string>
			<key>textureRect</key>
			<string>{{1,643},{927,389}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>3</integer>
		<key>pixelFormat</key>
		<string>RGBA4444</string>
		<key>premultiplyAlpha</key>
		<false/>
		<key>realTextureFileName</key>
		<string>GJ_ShopSheet-hd.png</string>
		<key>size</key>
		<string>{1526,1582}</string>
		<key>smartupdate</key>
		<string>$none</string>
		<key>textureFileName</key>
		<string>GJ_ShopSheet-hd.png</string>
	</dict>
</dict>
</plist>
