<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>chest03_small_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0.0,-0.25}</string>
			<key>spriteSize</key>
			<string>{30,26}</string>
			<key>spriteSourceSize</key>
			<string>{30,26}</string>
			<key>textureRect</key>
			<string>{{728,0},{30,26}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>chest_01_01_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0.0,0.0}</string>
			<key>spriteSize</key>
			<string>{99,80}</string>
			<key>spriteSourceSize</key>
			<string>{99,80}</string>
			<key>textureRect</key>
			<string>{{607,419},{99,80}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>chest_01_02_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0.0,0.0}</string>
			<key>spriteSize</key>
			<string>{96,77}</string>
			<key>spriteSourceSize</key>
			<string>{96,77}</string>
			<key>textureRect</key>
			<string>{{98,517},{96,77}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>chest_01_03_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0.0,0.75}</string>
			<key>spriteSize</key>
			<string>{96,79}</string>
			<key>spriteSourceSize</key>
			<string>{96,80}</string>
			<key>textureRect</key>
			<string>{{0,517},{96,79}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>chest_01_03_back_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0.0,3.5}</string>
			<key>spriteSize</key>
			<string>{76,7}</string>
			<key>spriteSourceSize</key>
			<string>{76,14}</string>
			<key>textureRect</key>
			<string>{{465,507},{76,7}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>chest_01_03_glow_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0.25,14.5}</string>
			<key>spriteSize</key>
			<string>{163,34}</string>
			<key>spriteSourceSize</key>
			<string>{164,62}</string>
			<key>textureRect</key>
			<string>{{598,698},{163,34}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>chest_01_04_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0.0,-17.75}</string>
			<key>spriteSize</key>
			<string>{96,41}</string>
			<key>spriteSourceSize</key>
			<string>{96,76}</string>
			<key>textureRect</key>
			<string>{{206,698},{96,41}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>chest_01_04_back_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0.0,16.5}</string>
			<key>spriteSize</key>
			<string>{81,49}</string>
			<key>spriteSourceSize</key>
			<string>{81,82}</string>
			<key>textureRect</key>
			<string>{{459,597},{81,49}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>chest_01_04_glow_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0.0,16.5}</string>
			<key>spriteSize</key>
			<string>{74,38}</string>
			<key>spriteSourceSize</key>
			<string>{74,70}</string>
			<key>textureRect</key>
			<string>{{371,698},{74,38}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>chest_02_01_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0.0,0.0}</string>
			<key>spriteSize</key>
			<string>{124,100}</string>
			<key>spriteSourceSize</key>
			<string>{124,100}</string>
			<key>textureRect</key>
			<string>{{482,0},{124,100}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>chest_02_02_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0.0,0.25}</string>
			<key>spriteSize</key>
			<string>{120,96}</string>
			<key>spriteSourceSize</key>
			<string>{120,97}</string>
			<key>textureRect</key>
			<string>{{482,202},{120,96}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>chest_02_03_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0.0,1.0}</string>
			<key>spriteSize</key>
			<string>{120,98}</string>
			<key>spriteSourceSize</key>
			<string>{120,100}</string>
			<key>textureRect</key>
			<string>{{607,0},{120,98}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>chest_02_03_back_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0.0,4.5}</string>
			<key>spriteSize</key>
			<string>{94,16}</string>
			<key>spriteSourceSize</key>
			<string>{94,24}</string>
			<key>textureRect</key>
			<string>{{0,775},{94,16}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>chest_02_03_glow_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0.25,18.25}</string>
			<key>spriteSize</key>
			<string>{204,42}</string>
			<key>spriteSourceSize</key>
			<string>{204,78}</string>
			<key>textureRect</key>
			<string>{{228,650},{204,42}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>chest_02_04_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0.0,-22.0}</string>
			<key>spriteSize</key>
			<string>{120,52}</string>
			<key>spriteSourceSize</key>
			<string>{120,96}</string>
			<key>textureRect</key>
			<string>{{94,597},{120,52}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>chest_02_04_back_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0.0,20.75}</string>
			<key>spriteSize</key>
			<string>{101,61}</string>
			<key>spriteSourceSize</key>
			<string>{101,102}</string>
			<key>textureRect</key>
			<string>{{429,517},{101,61}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>chest_02_04_glow_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0.0,20.5}</string>
			<key>spriteSize</key>
			<string>{92,47}</string>
			<key>spriteSourceSize</key>
			<string>{92,88}</string>
			<key>textureRect</key>
			<string>{{541,597},{92,47}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>chest_03_02_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0.0,0.25}</string>
			<key>spriteSize</key>
			<string>{120,96}</string>
			<key>spriteSourceSize</key>
			<string>{120,97}</string>
			<key>textureRect</key>
			<string>{{603,202},{120,96}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>chest_03_03_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0.0,1.0}</string>
			<key>spriteSize</key>
			<string>{120,98}</string>
			<key>spriteSourceSize</key>
			<string>{120,100}</string>
			<key>textureRect</key>
			<string>{{482,102},{120,98}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>chest_03_03_back_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0.0,4.5}</string>
			<key>spriteSize</key>
			<string>{94,16}</string>
			<key>spriteSourceSize</key>
			<string>{94,24}</string>
			<key>textureRect</key>
			<string>{{96,775},{94,16}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>chest_03_03_glow_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0.25,18.25}</string>
			<key>spriteSize</key>
			<string>{204,42}</string>
			<key>spriteSourceSize</key>
			<string>{204,78}</string>
			<key>textureRect</key>
			<string>{{434,650},{204,42}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>chest_03_04_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0.0,-22.0}</string>
			<key>spriteSize</key>
			<string>{120,52}</string>
			<key>spriteSourceSize</key>
			<string>{120,96}</string>
			<key>textureRect</key>
			<string>{{216,597},{120,52}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>chest_03_04_back_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0.0,20.75}</string>
			<key>spriteSize</key>
			<string>{101,61}</string>
			<key>spriteSourceSize</key>
			<string>{101,102}</string>
			<key>textureRect</key>
			<string>{{531,517},{101,61}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>chest_03_04_glow_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0.0,20.5}</string>
			<key>spriteSize</key>
			<string>{92,47}</string>
			<key>spriteSourceSize</key>
			<string>{92,88}</string>
			<key>textureRect</key>
			<string>{{634,597},{92,47}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>chest_04_02_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0.0,0.25}</string>
			<key>spriteSize</key>
			<string>{120,96}</string>
			<key>spriteSourceSize</key>
			<string>{120,97}</string>
			<key>textureRect</key>
			<string>{{465,322},{120,96}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>chest_04_03_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0.0,1.0}</string>
			<key>spriteSize</key>
			<string>{120,98}</string>
			<key>spriteSourceSize</key>
			<string>{120,100}</string>
			<key>textureRect</key>
			<string>{{603,102},{120,98}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>chest_04_03_back_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0.0,4.5}</string>
			<key>spriteSize</key>
			<string>{94,16}</string>
			<key>spriteSourceSize</key>
			<string>{94,24}</string>
			<key>textureRect</key>
			<string>{{192,775},{94,16}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>chest_04_03_glow_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0.25,18.25}</string>
			<key>spriteSize</key>
			<string>{204,42}</string>
			<key>spriteSourceSize</key>
			<string>{204,78}</string>
			<key>textureRect</key>
			<string>{{0,698},{204,42}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>chest_04_04_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0.0,-22.0}</string>
			<key>spriteSize</key>
			<string>{120,52}</string>
			<key>spriteSourceSize</key>
			<string>{120,96}</string>
			<key>textureRect</key>
			<string>{{338,597},{120,52}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>chest_04_04_back_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0.0,20.75}</string>
			<key>spriteSize</key>
			<string>{101,61}</string>
			<key>spriteSourceSize</key>
			<string>{101,102}</string>
			<key>textureRect</key>
			<string>{{633,517},{101,61}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>chest_04_04_glow_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0.0,20.5}</string>
			<key>spriteSize</key>
			<string>{92,47}</string>
			<key>spriteSourceSize</key>
			<string>{92,88}</string>
			<key>textureRect</key>
			<string>{{0,650},{92,47}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>chest_04_price_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0.0,0.0}</string>
			<key>spriteSize</key>
			<string>{54,16}</string>
			<key>spriteSourceSize</key>
			<string>{54,16}</string>
			<key>textureRect</key>
			<string>{{670,299},{54,16}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>chest_glow_bg_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-66.25,-8.75}</string>
			<key>spriteSize</key>
			<string>{51,24}</string>
			<key>spriteSourceSize</key>
			<string>{184,41}</string>
			<key>textureRect</key>
			<string>{{680,741},{51,24}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>chest_shadow_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0.0,0.0}</string>
			<key>spriteSize</key>
			<string>{120,18}</string>
			<key>spriteSourceSize</key>
			<string>{120,18}</string>
			<key>textureRect</key>
			<string>{{550,299},{120,18}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>getOrbsLabel_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0.0,-1.75}</string>
			<key>spriteSize</key>
			<string>{46,38}</string>
			<key>spriteSourceSize</key>
			<string>{46,41}</string>
			<key>textureRect</key>
			<string>{{446,698},{46,38}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>gj_videoRewardBtn_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-0.25,0.0}</string>
			<key>spriteSize</key>
			<string>{94,72}</string>
			<key>spriteSourceSize</key>
			<string>{95,72}</string>
			<key>textureRect</key>
			<string>{{195,517},{94,72}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>plushies_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{2.0,0.75}</string>
			<key>spriteSize</key>
			<string>{93,52}</string>
			<key>spriteSourceSize</key>
			<string>{98,54}</string>
			<key>textureRect</key>
			<string>{{0,597},{93,52}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>shopBG_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0.0,0.0}</string>
			<key>spriteSize</key>
			<string>{480,320}</string>
			<key>spriteSourceSize</key>
			<string>{480,320}</string>
			<key>textureRect</key>
			<string>{{0,0},{480,320}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>shopKeeper2_eye_01_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0.0,0.0}</string>
			<key>spriteSize</key>
			<string>{18,18}</string>
			<key>spriteSourceSize</key>
			<string>{18,18}</string>
			<key>textureRect</key>
			<string>{{728,27},{18,18}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>shopKeeper2_eye_02_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0.0,-2.25}</string>
			<key>spriteSize</key>
			<string>{18,14}</string>
			<key>spriteSourceSize</key>
			<string>{18,18}</string>
			<key>textureRect</key>
			<string>{{728,84},{18,14}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>shopKeeper2_eye_03_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0.0,-4.75}</string>
			<key>spriteSize</key>
			<string>{18,8}</string>
			<key>spriteSourceSize</key>
			<string>{18,18}</string>
			<key>textureRect</key>
			<string>{{724,184},{18,8}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>shopKeeper2_eye_04_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0.0,-2.0}</string>
			<key>spriteSize</key>
			<string>{15,2}</string>
			<key>spriteSourceSize</key>
			<string>{15,6}</string>
			<key>textureRect</key>
			<string>{{748,51},{15,2}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>shopKeeper2_eye_05_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0.0,0.0}</string>
			<key>spriteSize</key>
			<string>{16,4}</string>
			<key>spriteSourceSize</key>
			<string>{16,4}</string>
			<key>textureRect</key>
			<string>{{746,116},{16,4}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>shopKeeper2_hand_01_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0.0,0.0}</string>
			<key>spriteSize</key>
			<string>{21,12}</string>
			<key>spriteSourceSize</key>
			<string>{21,12}</string>
			<key>textureRect</key>
			<string>{{724,146},{21,12}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>shopKeeper2_head_01_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0.0,0.0}</string>
			<key>spriteSize</key>
			<string>{67,33}</string>
			<key>spriteSourceSize</key>
			<string>{67,33}</string>
			<key>textureRect</key>
			<string>{{0,741},{67,33}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>shopKeeper2_jaw_01_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0.0,0.0}</string>
			<key>spriteSize</key>
			<string>{67,25}</string>
			<key>spriteSourceSize</key>
			<string>{67,25}</string>
			<key>textureRect</key>
			<string>{{340,741},{67,25}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>shopKeeper2_jaw_02_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0.0,0.0}</string>
			<key>spriteSize</key>
			<string>{67,25}</string>
			<key>spriteSourceSize</key>
			<string>{67,25}</string>
			<key>textureRect</key>
			<string>{{408,741},{67,25}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>shopKeeper2_jaw_03_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0.0,0.0}</string>
			<key>spriteSize</key>
			<string>{67,27}</string>
			<key>spriteSourceSize</key>
			<string>{67,27}</string>
			<key>textureRect</key>
			<string>{{136,741},{67,27}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>shopKeeper2_mouth_01_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0.0,0.0}</string>
			<key>spriteSize</key>
			<string>{42,42}</string>
			<key>spriteSourceSize</key>
			<string>{42,42}</string>
			<key>textureRect</key>
			<string>{{707,419},{42,42}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>shopKeeper2_pupil_01_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0.0,0.0}</string>
			<key>spriteSize</key>
			<string>{7,7}</string>
			<key>spriteSourceSize</key>
			<string>{7,7}</string>
			<key>textureRect</key>
			<string>{{748,27},{7,7}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>shopKeeper2_pupil_02_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0.0,-1.5}</string>
			<key>spriteSize</key>
			<string>{7,4}</string>
			<key>spriteSourceSize</key>
			<string>{7,7}</string>
			<key>textureRect</key>
			<string>{{756,35},{7,4}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>shopKeeper2_torso_01_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0.0,0.0}</string>
			<key>spriteSize</key>
			<string>{52,37}</string>
			<key>spriteSourceSize</key>
			<string>{52,37}</string>
			<key>textureRect</key>
			<string>{{707,462},{52,37}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>shopKeeper3_eye_01_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0.0,0.0}</string>
			<key>spriteSize</key>
			<string>{18,18}</string>
			<key>spriteSourceSize</key>
			<string>{18,18}</string>
			<key>textureRect</key>
			<string>{{728,46},{18,18}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>shopKeeper3_eye_02_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0.0,-2.25}</string>
			<key>spriteSize</key>
			<string>{18,14}</string>
			<key>spriteSourceSize</key>
			<string>{18,18}</string>
			<key>textureRect</key>
			<string>{{724,102},{18,14}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>shopKeeper3_eye_03_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0.0,-4.75}</string>
			<key>spriteSize</key>
			<string>{18,8}</string>
			<key>spriteSourceSize</key>
			<string>{18,18}</string>
			<key>textureRect</key>
			<string>{{744,184},{18,8}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>shopKeeper3_eye_04_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0.0,-2.0}</string>
			<key>spriteSize</key>
			<string>{15,2}</string>
			<key>spriteSourceSize</key>
			<string>{15,6}</string>
			<key>textureRect</key>
			<string>{{748,54},{15,2}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>shopKeeper3_eye_05_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0.0,0.0}</string>
			<key>spriteSize</key>
			<string>{16,4}</string>
			<key>spriteSourceSize</key>
			<string>{16,4}</string>
			<key>textureRect</key>
			<string>{{746,122},{16,4}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>shopKeeper3_hand_01_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0.0,0.0}</string>
			<key>spriteSize</key>
			<string>{21,12}</string>
			<key>spriteSourceSize</key>
			<string>{21,12}</string>
			<key>textureRect</key>
			<string>{{724,158},{21,12}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>shopKeeper3_head_01_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0.0,-2.75}</string>
			<key>spriteSize</key>
			<string>{67,39}</string>
			<key>spriteSourceSize</key>
			<string>{67,44}</string>
			<key>textureRect</key>
			<string>{{303,698},{67,39}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>shopKeeper3_jaw_01_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0.0,-3.25}</string>
			<key>spriteSize</key>
			<string>{67,18}</string>
			<key>spriteSourceSize</key>
			<string>{67,25}</string>
			<key>textureRect</key>
			<string>{{482,299},{67,18}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>shopKeeper3_jaw_02_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0.0,0.0}</string>
			<key>spriteSize</key>
			<string>{67,25}</string>
			<key>spriteSourceSize</key>
			<string>{67,25}</string>
			<key>textureRect</key>
			<string>{{476,741},{67,25}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>shopKeeper3_jaw_03_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0.0,0.0}</string>
			<key>spriteSize</key>
			<string>{67,27}</string>
			<key>spriteSourceSize</key>
			<string>{67,27}</string>
			<key>textureRect</key>
			<string>{{204,741},{67,27}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>shopKeeper3_mouth_01_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0.0,0.0}</string>
			<key>spriteSize</key>
			<string>{42,42}</string>
			<key>spriteSourceSize</key>
			<string>{42,42}</string>
			<key>textureRect</key>
			<string>{{638,650},{42,42}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>shopKeeper3_pupil_01_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0.0,0.0}</string>
			<key>spriteSize</key>
			<string>{7,7}</string>
			<key>spriteSourceSize</key>
			<string>{7,7}</string>
			<key>textureRect</key>
			<string>{{756,27},{7,7}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>shopKeeper3_pupil_02_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0.0,-1.5}</string>
			<key>spriteSize</key>
			<string>{7,4}</string>
			<key>spriteSourceSize</key>
			<string>{7,7}</string>
			<key>textureRect</key>
			<string>{{748,46},{7,4}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>shopKeeper3_torso_01_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0.0,0.0}</string>
			<key>spriteSize</key>
			<string>{52,37}</string>
			<key>spriteSourceSize</key>
			<string>{52,37}</string>
			<key>textureRect</key>
			<string>{{492,698},{52,37}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>shopKeeper_eye_01_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0.0,0.0}</string>
			<key>spriteSize</key>
			<string>{18,18}</string>
			<key>spriteSourceSize</key>
			<string>{18,18}</string>
			<key>textureRect</key>
			<string>{{728,65},{18,18}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>shopKeeper_eye_02_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0.0,-2.25}</string>
			<key>spriteSize</key>
			<string>{18,14}</string>
			<key>spriteSourceSize</key>
			<string>{18,18}</string>
			<key>textureRect</key>
			<string>{{744,102},{18,14}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>shopKeeper_eye_03_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0.0,-4.75}</string>
			<key>spriteSize</key>
			<string>{18,8}</string>
			<key>spriteSourceSize</key>
			<string>{18,18}</string>
			<key>textureRect</key>
			<string>{{724,202},{18,8}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>shopKeeper_eye_04_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0.0,-2.0}</string>
			<key>spriteSize</key>
			<string>{15,2}</string>
			<key>spriteSourceSize</key>
			<string>{15,6}</string>
			<key>textureRect</key>
			<string>{{748,58},{15,2}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>shopKeeper_eye_05_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0.0,0.0}</string>
			<key>spriteSize</key>
			<string>{16,4}</string>
			<key>spriteSourceSize</key>
			<string>{16,4}</string>
			<key>textureRect</key>
			<string>{{746,131},{16,4}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>shopKeeper_hand_01_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0.0,0.0}</string>
			<key>spriteSize</key>
			<string>{21,12}</string>
			<key>spriteSourceSize</key>
			<string>{21,12}</string>
			<key>textureRect</key>
			<string>{{724,172},{21,12}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>shopKeeper_head_01_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0.0,0.0}</string>
			<key>spriteSize</key>
			<string>{67,33}</string>
			<key>spriteSourceSize</key>
			<string>{67,33}</string>
			<key>textureRect</key>
			<string>{{68,741},{67,33}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>shopKeeper_jaw_01_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0.0,0.0}</string>
			<key>spriteSize</key>
			<string>{67,25}</string>
			<key>spriteSourceSize</key>
			<string>{67,25}</string>
			<key>textureRect</key>
			<string>{{544,741},{67,25}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>shopKeeper_jaw_02_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0.0,0.0}</string>
			<key>spriteSize</key>
			<string>{67,25}</string>
			<key>spriteSourceSize</key>
			<string>{67,25}</string>
			<key>textureRect</key>
			<string>{{612,741},{67,25}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>shopKeeper_jaw_03_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0.0,0.0}</string>
			<key>spriteSize</key>
			<string>{67,27}</string>
			<key>spriteSourceSize</key>
			<string>{67,27}</string>
			<key>textureRect</key>
			<string>{{272,741},{67,27}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>shopKeeper_mouth_01_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0.0,0.0}</string>
			<key>spriteSize</key>
			<string>{42,42}</string>
			<key>spriteSourceSize</key>
			<string>{42,42}</string>
			<key>textureRect</key>
			<string>{{682,650},{42,42}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>shopKeeper_pupil_01_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0.0,0.0}</string>
			<key>spriteSize</key>
			<string>{7,7}</string>
			<key>spriteSourceSize</key>
			<string>{7,7}</string>
			<key>textureRect</key>
			<string>{{748,35},{7,7}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>shopKeeper_pupil_02_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0.0,-1.5}</string>
			<key>spriteSize</key>
			<string>{7,4}</string>
			<key>spriteSourceSize</key>
			<string>{7,7}</string>
			<key>textureRect</key>
			<string>{{756,46},{7,4}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>shopKeeper_torso_01_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0.0,0.0}</string>
			<key>spriteSize</key>
			<string>{52,36}</string>
			<key>spriteSourceSize</key>
			<string>{52,36}</string>
			<key>textureRect</key>
			<string>{{545,698},{52,36}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>shopRope2_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{1.0,-24.75}</string>
			<key>spriteSize</key>
			<string>{47,66}</string>
			<key>spriteSourceSize</key>
			<string>{49,116}</string>
			<key>textureRect</key>
			<string>{{94,650},{47,66}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>shopRope2_2_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{1.25,0.0}</string>
			<key>spriteSize</key>
			<string>{14,21}</string>
			<key>spriteSourceSize</key>
			<string>{16,21}</string>
			<key>textureRect</key>
			<string>{{724,116},{14,21}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>shopRope3_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{1.25,-24.75}</string>
			<key>spriteSize</key>
			<string>{42,66}</string>
			<key>spriteSourceSize</key>
			<string>{45,116}</string>
			<key>textureRect</key>
			<string>{{161,650},{42,66}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>shopRope3_2_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{1.25,0.0}</string>
			<key>spriteSize</key>
			<string>{14,21}</string>
			<key>spriteSourceSize</key>
			<string>{16,21}</string>
			<key>textureRect</key>
			<string>{{724,131},{14,21}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>shopSign2_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0.0,0.75}</string>
			<key>spriteSize</key>
			<string>{141,87}</string>
			<key>spriteSourceSize</key>
			<string>{141,88}</string>
			<key>textureRect</key>
			<string>{{465,419},{141,87}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>shopSign3_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-0.25,-0.75}</string>
			<key>spriteSize</key>
			<string>{139,89}</string>
			<key>spriteSourceSize</key>
			<string>{140,90}</string>
			<key>textureRect</key>
			<string>{{586,322},{139,89}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>shopSign_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0.75,8.75}</string>
			<key>spriteSize</key>
			<string>{138,70}</string>
			<key>spriteSourceSize</key>
			<string>{139,88}</string>
			<key>textureRect</key>
			<string>{{290,517},{138,70}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>storeDesk_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0.0,0.0}</string>
			<key>spriteSize</key>
			<string>{464,194}</string>
			<key>spriteSourceSize</key>
			<string>{464,194}</string>
			<key>textureRect</key>
			<string>{{0,322},{464,194}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>3</integer>
		<key>pixelFormat</key>
		<string>RGBA4444</string>
		<key>premultiplyAlpha</key>
		<false/>
		<key>realTextureFileName</key>
		<string>GJ_ShopSheet.png</string>
		<key>size</key>
		<string>{763,791}</string>
		<key>smartupdate</key>
		<string>$none</string>
		<key>textureFileName</key>
		<string>GJ_ShopSheet.png</string>
	</dict>
</dict>
</plist>
